body {
  font-family: 'Nixie One', cursive;
  margin: 0;
}

img {
  max-width: 100%;
}

header {
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 10%;
  box-sizing: border-box;
  background-image: url(./assets/header-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
}

@media (max-width: 900px) {
  .title {
    display: block;
  }
}

h1 {
  font-size: 5rem;
  color: whitesmoke;
  text-align: left;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-decoration: underline;
  text-transform: lowercase;
}

@media (max-width: 360px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  display: flex;
  align-items: end;
  color: whitesmoke;
  font-size: 2rem;
  margin: 0;
  padding: 0 0 0 10px;
  text-transform: lowercase;
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1328px) {
  .header__subtitle {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .header__subtitle {
    display: none;
  }
}

input[type=search] {
  width: 250px;
  height: 40px;
  font-size: 1.3rem;
  -webkit-transition: 0.5s all ease;
  background-color: aliceblue;
  border: 3px solid #222;
  text-align: center;
}

input[type=search]:focus {
  border: yellow 3px solid;
}

label svg {
  color: whitesmoke;
}

h3 {
  color: whitesmoke;
  font-size: 1.8rem;
  padding-bottom: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  h3 {
    cursor: pointer;
  }
}

.fa-chevron-circle-down {
  color: yellow;
  display: none;
}

@media (max-width: 480px) {
  .fa-chevron-circle-down {
    display: inline;
  }
}

input[type="checkbox"] {
  display: none;
}

.hide {
  display: none !important;
}

.allergies, .dietary {
  display: flex;
  flex-flow: row wrap;
}

.allergies label, .dietary label {
  margin: 5px 5px 0 0;
  padding: 5px 10px;
  border: 2px solid #222;
  border-radius: 2px;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #222;
  background-color: aliceblue;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.allergies label:hover, .dietary label:hover {
  background-color: yellow;
}

@media (max-width: 365px) {
  .allergies label, .dietary label {
    padding: 3px 5px;
  }
}

.active {
  background-color: yellow !important;
}

input[type="submit"] {
  text-align: center;
  margin: 20px 0;
  width: 250px;
  height: 40px;
  background-color: yellow;
  border: 3px solid #222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

input[type="submit"]:hover {
  background-color: aliceblue;
  border: 3px solid yellow;
}

#searchTitle {
  font-size: 4rem;
  margin: 30px 10px;
  padding-top: 30px;
  margin: 0 0 0 20px;
  padding: 30px 0;
  color: #222;
}

#results {
  padding: 0 5%;
  background-color: #ece3dc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%2301c3cf' fill-opacity='0.26'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#recipes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  display: none;
  padding: 0;
  margin: 0;
}

#recipes .item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 500px;
  width: calc(22% - 20px);
  padding: 10px;
  margin-bottom: 40px;
  list-style: none;
  background-color: lavenderblush;
  border-radius: 4px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border-radius: 4px;
  box-shadow: -1px 1px 4px #222;
  z-index: 50;
  position: relative;
}

#recipes .item:hover {
  transform: translateY(-5px);
}

#recipes .item:hover .ingredients {
  display: flex !important;
}

@media (max-width: 1540px) {
  #recipes .item {
    width: calc(28% - 20px);
  }
}

@media (max-width: 1100px) {
  #recipes .item {
    width: calc(32% - 20px);
  }
}

@media (max-width: 950px) {
  #recipes .item {
    width: calc(48% - 20px);
  }
}

@media (max-width: 480px) {
  #recipes .item {
    width: calc(80% - 20px);
  }
}

#recipes .item h4 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 0;
  height: 12%;
  font-family: 'Nixie One', cursive;
}

#recipes .item h5 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  margin-top: 10px;
  background-color: #01c3cf;
  width: 100%;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2rem;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  cursor: pointer;
}

#recipes .item h5:hover a {
  color: yellow;
}

#recipes .item h5 a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}

#recipes .item img {
  width: 100%;
  height: 215px;
  max-height: 215px;
  object-fit: cover;
  border-radius: 4px;
}

#recipes .item li {
  list-style: none;
}

.ingredients {
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  top: 32%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.ingredients li {
  padding: 0;
  margin: 0 0 0 10px;
  color: black;
  font-size: 1rem;
}
/*# sourceMappingURL=styles.css.map */