$black:#222;
$white: whitesmoke;
$blue: #01c3cf;
$yellow: #e9ea69;
$bb-blue: #a9dff0;
$ocean-blue: #50a8bc;

body {
    font-family: 'Nixie One', cursive;
    margin: 0;
}

img {
    max-width: 100%;
}

// landing page
header {
    max-width:100%;
    height: 100vh;
    margin:0;
    padding: 5%;
    box-sizing: border-box;
    background-image: url(./assets/header_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-form {
    max-width: 900px;
    transform:translateY(60px);
}


h2 {
    display: flex;
    align-items: flex-end;
    color:$white;
    font-size:2rem;
    margin:0;
    padding:0 0 0 10px;
    text-transform:lowercase;
    @media(max-width: 480px) {
        font-size:1.5rem;
    }
}
.header__subtitle {
    
    @media(max-width:1328px) {
            max-width:400px;
        }
}

input[type=search] {
    width:100%;
    height:80px;
    font-size: 2rem;
    @media(max-width:480px) {
        font-size:1.5rem;
        height: 50px;
    }
    -webkit-transition:0.5s all ease;
    background-color: aliceblue;
    border:5px solid $yellow;
    text-align: left;
    font-family:'Libre Baskerville', serif;
    margin-bottom:5%;
    padding-left:5px;
    &:focus {
        border:$yellow 5px solid;
    }
}

label svg { 
    color: $white;
}

h3 {
    color: $black;
    font-size: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 5px;
    text-transform:uppercase;
    font-family:'Libre Baskerville', serif;
    @media(max-width:480px) {
        cursor: pointer;
    }
}

.fa-chevron-circle-down {
    color:$yellow;
    display: none;

    @media(max-width:480px) {
        display:inline;
    }
}

input[type="checkbox"] {
    display:none;
}

.hide {
    display:none !important;
}

.allergies, .dietary {
    display: flex;
    flex-flow: row wrap;
}

.allergies label, .dietary label {
    margin: 5px 5px 0 0;
    padding:5px 10px;
    border: 2px solid orange;
    border-radius: 2px;
    font-size:1rem;
    letter-spacing: 1px;
    color:$black;
    background-color:aliceblue;
    cursor: pointer;
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    font-weight:bold;
    &:hover {
        background-color:$yellow;
    }
    @media(max-width:365px) {
        padding: 3px 5px;
    }
}
.active {
    background-color:$yellow !important;
}

input[type="submit"] {
    text-align: center;
    margin:5% 0;
    width:250px;
    height:50px;
    background-color:$yellow;
    border: 3px solid $black;
    text-transform:uppercase;
    font-weight: bold;
    font-size:1.2rem;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    box-shadow: 10px 10px orange;
    border:3px solid $yellow;
    -webkit-transition:0.5s all ease;
    &:hover {
        transform: translateY(3px);
        transform: translateX(3px);
        box-shadow:7px 7px orange;
    }
}

// search results
#searchTitle {
    font-size:4rem;
    margin: 30px 10px;
    padding-top:30px;
    margin: 0 0 0 20px;
    padding:30px 0;
    color:$black;
}

#results {
    padding: 0 5%;
    background-color: #ece3dc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%2301c3cf' fill-opacity='0.26'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#recipes {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    display: none;
    padding:0;
    margin:0;
    .item {
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items:center;
        height: 500px;
        width: calc(22% - 20px);
        padding: 10px;
        margin-bottom: 40px;
        list-style: none;
        background-color:lavenderblush;
        border-radius:4px;
        -webkit-transition:0.5s all ease;
        transition:0.5s all ease;
        border-radius:4px;
        box-shadow:-1px 1px 4px #222;
        z-index:50;
        position: relative;
        // &:hover {
        //     transform:translateY(-5px);
        // }
        &:hover .ingredients {
            display: flex !important;
        }

        @media(max-width:1540px) {
            width: calc(28% - 20px);
        }
        @media(max-width:1100px) {
            width: calc(32% - 20px);
        }

        @media(max-width:950px) {
            width: calc(48% - 20px);
        }
        @media(max-width:480px) {
            width: calc(80% - 20px);
        }
        h4 {
            display: flex;
            align-items:center;
            text-transform: uppercase;
            text-align: center;
            font-size:1.3rem;  
            margin-bottom:0;
            height:12%;
            font-family: 'Nixie One', cursive;
        }
        h5 {
            text-align:center;
            display:flex;
            align-items:center;
            justify-content: center;
            height:10%;
            margin-top:10px;
            background-color:$blue;
            width:100%;
            font-family:'Libre Baskerville', serif;
            font-size:1.2rem;
            -webkit-transition:0.5s all ease;
            transition:0.5s all ease;
            cursor:pointer;
            &:hover {
                background-color: darken($blue, 20%);
                }
            a {
                color:$white;
                font-weight:bold;
                text-decoration: none;
            }
        }
        img {
            width: 100%;
            height:215px;
            max-height:215px;
            object-fit: cover;
            border-radius:4px;
        }

        li {
            list-style: none;
        }
    }
}
.ingredients {
    // margin: 0 0 0 10%;
    margin:0;
    padding: 0;
    display:none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    top: 36%;
    left:0;
    bottom:0;
    right:0;
    background-color:rgba(255,255,255,0.9);
    position:absolute;
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    li {
        padding: 0;
        margin: 0 0 0 10%; 
        color:black;
        font-size:1.2rem;
    }
}

// footer {
//     height:4vh;
//     display: flex;
//     justify-content: space-around;
//     align-items:center;
//     background-color:#36d0da;

//     p {
//         color: $black;
//     }
//     a {
//         text-decoration: none;
//         color:$white;
//     }
// }