body {
  font-family: "Lekton", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

header {
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(./assets/header_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  header {
    background-position: -50px;
  }
}

#search-form {
  max-width: 900px;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fffbe6;
  font-size: 2rem;
  line-height: 50px;
  margin: 0;
  padding: 0 0 0 10px;
  text-transform: lowercase;
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 1328px) {
  .header__subtitle {
    max-width: 400px;
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

input[type="text"] {
  width: 100%;
  height: 80px;
  font-size: 2rem;
  -webkit-transition: 0.5s all ease;
  background-color: #fffbe6;
  border: 5px solid #fcb040;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5%;
  padding-left: 5px;
}

@media (max-width: 480px) {
  input[type="text"] {
    font-size: 1.5rem;
    height: 50px;
  }
}

input[type="text"]:focus {
  border: #e9ea69 5px solid;
}

h3 {
  color: #222;
  font-size: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 480px) {
  h3 {
    cursor: pointer;
  }
}

.fa-chevron-circle-down {
  color: #fcb040;
  display: none;
}

@media (max-width: 480px) {
  .fa-chevron-circle-down {
    display: inline;
  }
}

input[type="checkbox"] {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.hide {
  display: none !important;
}

.allergies, .dietary {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
}

.allergies label, .dietary label {
  display: inline-block;
  margin: 5px 5px 0 0;
  padding: 5px 10px;
  border: 2px solid #fcb040;
  border-radius: 2px;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #222;
  background-color: #fffbe6;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  font-weight: bold;
}

.allergies label:hover, .dietary label:hover {
  background-color: #e9ea69;
}

@media (max-width: 365px) {
  .allergies label, .dietary label {
    padding: 3px 5px;
  }
}

.active {
  background-color: #e9ea69 !important;
}

input[type="submit"] {
  text-align: center;
  margin: 5% 0;
  width: 250px;
  height: 50px;
  background-color: #e9ea69;
  border: 3px solid #222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-box-shadow: 10px 10px #fcb040;
          box-shadow: 10px 10px #fcb040;
  border: 3px solid #e9ea69;
  -webkit-transition: 0.5s all ease;
}

input[type="submit"]:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-box-shadow: 7px 7px #fcb040;
          box-shadow: 7px 7px #fcb040;
}

#searchTitle {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  margin: 30px 10px;
  padding-top: 30px;
  margin: 0 0 0 0;
  padding: 30px 0;
  color: #222;
}

@media (max-width: 768px) {
  #searchTitle {
    font-size: 1.5rem;
  }
}

#results {
  padding: 0 5%;
  background-color: #DDF0E5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%2301c3cf' fill-opacity='0.26'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
}

#recipes .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  width: calc(22% - 20px);
  margin-bottom: 40px;
  list-style: none;
  background-color: #fffbe6;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  z-index: 50;
  position: relative;
}

@media (max-width: 1540px) {
  #recipes .item {
    width: calc(28% - 20px);
  }
}

@media (max-width: 1100px) {
  #recipes .item {
    width: calc(32% - 20px);
  }
}

@media (max-width: 950px) {
  #recipes .item {
    width: calc(48% - 20px);
  }
}

@media (max-width: 480px) {
  #recipes .item {
    width: calc(80% - 20px);
  }
}

#recipes .item h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2rem;
  line-height: 30px;
  margin-bottom: 0;
  height: 12%;
  font-family: "Lekton", sans-serif;
  color: #fcb040;
  z-index: 2;
}

#recipes .item a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
  margin: 0 0 0;
  background-color: #a9dff0;
  width: 85%;
  font-family: "Lekton", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #356859;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  cursor: pointer;
}

#recipes .item a:hover {
  background-color: #bfe7f4;
  color: #356859;
  font-weight: bold;
  text-decoration: underline;
}

#recipes .item img {
  width: 85%;
  height: 215px;
  max-height: 215px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

#recipes .item .ingredientsButton {
  width: 100;
  position: absolute;
  bottom: 0;
  border: none;
  border-top: 1px solid #01c3cf;
  background: transparent;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
}

#recipes .item li {
  list-style: none;
}

.ingredients {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 93%;
  position: absolute;
  top: 1000px;
  left: 7px;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(255, 251, 230, 0.9);
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  cursor: pointer;
  overflow: hidden;
}

.ingredients li {
  padding: 0;
  margin: 0 0 0 10%;
  color: black;
  font-size: 1.2rem;
}

.show {
  top: 20%;
}

footer {
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a9dff0;
}

footer p {
  color: #222;
}

footer a {
  text-decoration: none;
  color: #222;
}
/*# sourceMappingURL=styles.css.map */